
SQLite/MyNotesApp/java/.idea/caches/

ContentProvider/MyNotesApp/java/.idea/caches/

SQLite/MyNotesApp/kotlin/.idea/caches/
Read dan WriteFile/MyReadWriteFile/java/.idea/compiler.xml
Read dan WriteFile/MyReadWriteFile/java/.idea/deploymentTargetDropDown.xml
Read dan WriteFile/MyReadWriteFile/java/.idea/gradle.xml
Read dan WriteFile/MyReadWriteFile/java/.idea/jarRepositories.xml
Read dan WriteFile/MyReadWriteFile/java/.idea/misc.xml
Read dan WriteFile/MyReadWriteFile/java/.idea/runConfigurations.xml
Read dan WriteFile/MyReadWriteFile/kotlin/.idea/compiler.xml
Read dan WriteFile/MyReadWriteFile/kotlin/.idea/deploymentTargetDropDown.xml
Read dan WriteFile/MyReadWriteFile/kotlin/.idea/gradle.xml
Read dan WriteFile/MyReadWriteFile/kotlin/.idea/misc.xml
